@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif, Helvetica, Arial;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --text-neutral-dark: hsl(229, 25%, 31%);
  --text-neutral-score: hsl(229, 64%, 46%);
  --outline-neutral-header: hsl(217, 16%, 45%);
}

.fixed-background {
  overflow: hidden;
  position: relative;
}
.fixed-background::before {
  content: " ";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(#1f3756, #141539);
  will-change: transform;
  z-index: -1;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-color-default {
  border-color: #7a889f;
}

.container-responsive {
  @apply container;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.character.scissors .inner-border {
  background-image: linear-gradient(#ec9e0e, #eca922);
}
.character.scissors .outer-border {
  background-image: linear-gradient(#8c5e08, #9b6c0d);
}
.character.paper .inner-border {
  background-image: linear-gradient(#4865f4, #5671f5);
}
.character.paper .outer-border {
  background-image: linear-gradient(#0c2cca, #0d2fd9);
}
.character.rock .inner-border {
  background-image: linear-gradient(#dc2e4e, #dd405d);
}
.character.rock .outer-border {
  background-image: linear-gradient(#8c182d, #9c1c33);
}
.character.lizard .inner-border {
  background-image: linear-gradient(#834fe3, #8c5de5);
}
.character.lizard .outer-border {
  background-image: linear-gradient(#501cb0, #561fbd);
}
.character.spock .inner-border {
  background-image: linear-gradient(#40b9ce, #52bed1);
}
.character.spock .outer-border {
  background-image: linear-gradient(#237786, #288595);
}
.character.easy-mode .size.skeleton.default {
  @apply w-20 h-20 tablet:w-24 tablet:h-24 m-3;
}
.character.easy-mode .size.skeleton.xl {
  @apply w-28 h-28 tablet:w-40 tablet:h-40 m-3 tablet:m-4;
}
.character.easy-mode .size.button-height.default {
  @apply -translate-y-2;
}
.character.easy-mode .size.button-height.xl {
  @apply -translate-y-2 tablet:-translate-y-3;
}
.character.easy-mode .size.outer-border.default {
  @apply mt-2;
}
.character.easy-mode .size.outer-border.xl {
  @apply pt-2 tablet:pt-3;
}
.character.hard-mode .size.skeleton.default {
  @apply w-20 h-20 tablet:w-20 tablet:h-20 m-3;
}
.character.hard-mode .size.skeleton.xl {
  @apply w-28 h-28 tablet:w-40 tablet:h-40 m-3 tablet:m-4;
}
.character.hard-mode .size.button-height.default {
  @apply -translate-y-2;
}
.character.hard-mode .size.button-height.xl {
  @apply -translate-y-2 tablet:-translate-y-3;
}
.character.hard-mode .size.outer-border.default {
  @apply mt-2;
}
.character.hard-mode .size.outer-border.xl {
  @apply pt-2 tablet:pt-3;
}

.abs-center {
  @apply absolute transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
